body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f3f3f3;
  margin-top: 100px;
}

.game-container {
  background: white;
  display: inline-block;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

input {
  width: 150px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: #007bff;
}

button:hover {
  background-color: #0056b3;
}

#pesan {
  font-weight: bold;
  margin-top: 20px;
}